# Common

README.md
CHANGELOG.md
docker-compose.yml
Dockerfile

# git

.git
.gitattributes
.github
.gitlab-ci.yml
.gitignore

# JetBrains

.idea

# Node

## Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*

## Dependency directories

node_modules/

## Others

.DS*Store
Thumbs.db
desktop.ini
*.swp
\_~
.directory
Icon?
ehthumbs.db
\*.lnk

.vscode/
\*.code-workspace

# JetBrains IDEs

.idea/
_.iml
_.iws
\*.ipr
out/

# Sublime Text

_.sublime-workspace
_.sublime-project

# Vim

_.swp
_.swo
\*~

# Emacs

#_#
.#_
.projectile

# Eclipse

.classpath
.project
.settings/

# Visual Studio

.vs/
_.suo
_.ntvs\*
_.njsproj
_.sln
\*.sw?

node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
package-lock.json
yarn.lock
.npm/
.yarn/
*.tgz
.pnp.\*
.cache/
.eslintcache
.node_repl_history

**pycache**/
_.py[cod]
_$py.class
.pytest*cache/
.coverage
htmlcov/
.tox/
.nox/
.venv/
venv/
ENV/
env/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
_.egg-info/
_.egg
.ipynb*checkpoints/
*.pyc
pip-log.txt
pip-delete-this-directory.txt
_.sqlite3
_.pyc
_.pyo
_.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage._
.cache
coverage.xml
_,cover
\*.log
